<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Social Network", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", 'https://social-net-ajrisylhasi.c9users.io' %></li>
        <li><%= link_to "Help", 'https://social-net-ajrisylhasi.c9users.io/static_pages/help' %></li>
        <li><%= link_to "About", 'https://social-net-ajrisylhasi.c9users.io/static_pages/about' %></li>
        <li><%= link_to "Contact", 'https://social-net-ajrisylhasi.c9users.io/static_pages/contact' %></li>
        <li><%= link_to "Login", '#' %></li>
      </ul>
    </nav>
  </div>
</header>